<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Gradient Partitioner</title>
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
    }

    body {
      font-size: 14px;
      color: #555;
      background-color: #bdc3c7;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #wrapper {
      padding: 30px;
    }

    #app {
      width: 100%;
      padding: 30px 30px 0;
      background-color: #fff;
    }

    #app, .part {
      border-radius: 10px;
      box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    }

    #app > section {
      display: block;
    }

    #app .part {
      position: relative;
      height: 100px;
      display: inline-block;
      margin: 30px 0;
      padding: 15px;
      font-weight: 200;
      color: #fff;
      background-color: rebeccapurple;
    }

    code {
      font-family: monospace;
    }
    
    #part-a {
      width: 100%;
    }
    
    #part-b {
      width: 45%;
    }

    #part-c {
      width: 45%;
      left: 10%;
    }
    
    #part-d {
      width: 26.66%;
    }

    #part-e {
      width: 26.66%;
      left: 10%;
    }

    #part-f {
      width: 26.66%;
      left: 20%;
    }

    #part-g {
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <div id="app">
      <code>const range = new GradientPartitioner('#F05F57', '#360940', 0, 100)</code>
      <section>
        <div id="part-a" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(0, 100)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
      </section>
      <section>
        <div id="part-b" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(0, 45)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
        <div id="part-c" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(55, 100)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
      </section>
      <section>
        <div id="part-d" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(0, 26.66)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
        <div id="part-e" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(36.66, 63.31)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
        <div id="part-f" class="part">
          <code>range<br />&nbsp;&nbsp;.partition(73.31, 100)<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
      </section>
      <section>
        <div id="part-g" class="part">
          <code>range<br />&nbsp;&nbsp;.cssGradient()</code>
        </div>
      </section>
    </div>
  </div>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>

</html>